<gwipp-navigation-bar>
  <gwipp-nav-item class="flex-fill">
    <nav-item-detail>
      <ng-template nav-title>
        <div class="d-flex flex-row text-light">
          <gwipp-icon [config]="homeIcon"></gwipp-icon>
          <div class="ml-2">My Home</div>
        </div>
      </ng-template>
    </nav-item-detail>
  </gwipp-nav-item>

  <gwipp-nav-item>
    <nav-item-detail>
      <ng-template nav-title>
        <div class="ml-auto mr-2">
          <gwipp-icon [config]="userIcon"></gwipp-icon>
        </div>
      </ng-template>
    </nav-item-detail>
  </gwipp-nav-item>
</gwipp-navigation-bar>
